{% include "./partials/head.html" %}

  <body>
    
    {% include "./partials/navbar.html" %}
     
    <main class="container">
      <form action="{% url 'polls:addset' %}" method="post" class="d-flex justify-content-center" autocomplete="off">
        {% csrf_token %}
        <div class="input-group mb-3" style="width: 50%;">
          <input type="text" class="form-control" name="setname" placeholder="Question Set Name"  ">
          <button class="btn btn-outline-primary" type="submit" >Add Set</button>
        </div>
      </form>
      <div class="d-flex justify-content-center flex-wrap">
        {% for set in set_list %}
        <div class="mx-3 mb-3">
          <div class="card" style="width: 20rem;">
            <div class="row align-items-center">
              <h5 class="m-3 col-7">{{ set.set_name }}</h5>
              <a href="{% url 'polls:deleteset' set.id %}" class="btn btn-danger col-3" style="height: 38px; border-radius: 18px;">Delete</a>
            </div>
            <ul class="list-group list-group-flush">
              {% for question in set.question_set.all %}
              <li class="list-group-item d-flex justify-content-between" href="{% url 'polls:detail' question.id %}">
                <a href="{% url 'polls:detail' question.id %}" class="text-decoration-none"
                  >{{forloop.counter}}. {{ question.question_text }}</a
                >
                <a href="{% url 'polls:detail' question.id %}" class="btn btn-outline-primary mx-2 position-relative" style="height: 38px;">Answer<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {{ question.votes_num }}
                </span></a>
              </li>
              {% endfor %}
              <div class="list-group list-group-flush bg-primary" >
                <a href="{%url 'polls:new' 1 set.id %}" class="link-underline add link-underline-opacity-0 text-center p-2">Add Question</a>
              </div>
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>
    
    {% include "./partials/footer.html" %}
  </body>
</html>
