{% include "./partials/head.html" %}
<body>
  {% include "./partials/navbar.html" %}
  <div class="d-flex justify-content-center">
    <form
      class="card"
      style="width: 25rem"
      method="post"
      action="{% url 'polls:addquestion' %}"
      autocomplete="off"
    >
      {% csrf_token %}
      <fieldset>
        <div class="card-header">
          Add Question to Set <strong>{{ set_name }}</strong>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3">Question</span>
              <input
                type="text"
                class="form-control"
                id="basic-url"
                aria-describedby="basic-addon3 basic-addon4"
                name="question_text"
              />
            </div>
          </li>
          <li class="list-group-item">
            {% for i in choice_count_range %}
            <div class="input-group mb-2">
              <span class="input-group-text" id="basic-addon3"
                >Choice {{ forloop.counter }}</span
              >
              <input
                type="text"
                class="form-control"
                id="basic-url"
                aria-describedby="basic-addon3 basic-addon4"
                name="choice{{ forloop.counter }}"
              />
            </div>
            {% endfor %}
            <div class="text-center">
              <div class="btn-group">
                <a
                  href="{% url 'polls:new' choice_count_add set_id %}"
                  class="btn btn-primary"
                  >Add Choices</a
                >
                {% if choice_count > 1 %}
                <a
                  href="{% url 'polls:new' choice_count_min set_id %}"
                  class="btn btn-outline-primary"
                  >Remove Choices</a
                >
                {% endif %}
              </div>
            </div>
          </li>
          <input type="hidden" name="choice_count" value="{{choice_count}}" />
          <input type="hidden" name="set_id" value="{{set_id}}" />
          <li class="list-group-item d-flex justify-content-end">
            <button type="submit" class="btn btn-success me-1">Save</button>
            <a href="{% url 'polls:index' %}" class="btn btn-danger">Cancel</a>
          </li>
        </ul>
      </fieldset>
    </form>
  </div>
  {% include "./partials/footer.html" %}
</body>
